--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchaudio

# Additional packages (these will still install from PyPI unless available at the index above)
transformers
datasets[audio]
librosa
jiwer
soundfile
tqdm
ipython
accelerate
num2fawords
parsivar
pandas
nemo_toolkit['asr']
